.nav_bar {
background-color: #F6F6F6;
}
.nav_bar_name{
  color: #718087;
}

.nav_bar_names {
  color: #e33d26;
}


.list-group {
  text-align: left;
  font-size: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
  border-color: white;
  margin-bottom: 0;

}

.home_image{
 margin-top: 35px;
 padding:20px;
 max-width: 550px;
 width:100%;
}
.login_form {
  margin-top: 75px;

}
.login_form_email {
  margin-right: 30px;
}

.signup_col {
  text-align: left;
  font-size: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
  border-color: white;
  margin-bottom: 0;

}

.home_button {
  border-top: 0;
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 22px;
  margin-left: 145px;
}
.login_button {
  position: relative;
  font-size: 22px;
  margin-left: 50px;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border-top: 0;

}
.sign_up_button{
  position: relative;
  font-size: 22px;
  width: 200px;
  height: 50px;
  border-top: 0;
  margin-left: 50px;
  margin-top: 80px;
}

.new_plan_button {

  font-size: 20px;
  width: 200px;
  margin-top: 15px;


}
.previous_plan_button{
  width: 200px;
  font-size: 15px;
  margin-top: 5px;
  background-color: #718087;

}
.home_meal_plan{
  margin-top:50px;
}
.fav_meal-plans {
   text-align: left;
   margin-right: 20px;
   float: left;
}
.fav_meal_input {
  height: 20px;
  margin-top: 8px;
  margin-left: 20px;

}
.sign_up_form {
  margin-top: 100px;
}
.sign_up_email {
  margin-right: 90px;
}
.sign_up_password {
  margin-right: 60px;
}

.item-group{
  padding: 20px;
  margin-right: 15px;
  border: 0 none;
}

.meal-plans {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

}

.meal_plan_select{
  width: 200px;
  margin-top: 8px;
  margin-left: 20px;
}

.fixed-bottom{
  border : none;
  background-color: #F6F6F6;

}
.footer_font_size {
  padding: 10px
}

.justify-content-end {
  font-size: 22px;
}


.notification-awesome {
  background-color: #685dc3;
  border-left: 8px solid darken(#685dc3, 15%);
}
.dropdown-item.active, .dropdown-item:active {
    font-size: 20px;
    color: #718087;
    text-decoration: none;
    background-color: #007bff00;
}
.ingredient_list {
  display: block;


}
.meal_plans{
  margin-top: 50px;
}
.ingredient_check {
  text-align:left;
  font-size: 12px;

}
.email {
  float:right;
}

.recipe_display {
  display: inline-block;
  margin: 15px;
}
.recipe_span {
  display: inline;
  padding: 5px;

}
.recipe_item {
  width:150px;
}

input[type=checkbox]:checked + span {
  color: black;
  text-decoration: line-through;
}
.heading {
  text-align: center;
  margin-right: 230px;
}
.heading_mealplan {
  margin-right: 415px
}

.float-right {
  margin-right: 15px;
}
.home_heading {
  text-align: center;
  margin-right: 245px;
}
.fav_heading {
  text-align: left;
  margin-left: 120px;

}
.mealset_heading {
  text-align: left;
  margin-left: 20px;
}
.archive_time {
  float: left;

}

.archive_item{
  display:inline;
  padding-left: 5px;
}
.archive_home_heading{
  margin-top: 30px;

}
.recipe_display_item{
display: inline;
padding:5px;
}

.food-flex{
  display: flex;
  flex-direction: row;
  width: 60vw;

}









