
.list-group {
  text-align: left;
  font-size: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
  border-color: white;
  margin-bottom: 0;

}

.home_image{
 margin-top: 35px;
 padding:20px;
 width: 550px;
}


.signup_form {

  font-size: 50px;

  margin-top: 30px;
  border-color: white;
  margin-bottom: 0;
}
.signup_col {
  text-align: left;
  font-size: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
  border-color: white;
  margin-bottom: 0;

}

.sign_up {
  border-top: 0;
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 22px;
  margin-left: 145px;
}


.item-group{
  padding: 20px;
  margin-right: 15px;

  border: 0 none;
}
.meal-plan{
  font-size: 18px;
  font-weight: bold;
}
.meal-plans {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.meals-plans {
  font-size: 14px;
  font-weight: bold;

}




.justify-content-end {
  font-size: 22px;
  font-weight: bold;
}
nav .nav-link{
  color: '#ffffff';
}
nav .nav-linked{
  color: '#e33d26';
}